@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LibraryManagement.Models.Book
<html>
<body>


	<div class="container text-center">
		<h2>Thông tin chi tiết</h2>
        <div class="row">
            <div class="col-sm-5">
                 <img src="@Model.Avatar" class="d-block img-fluid" alt="..."> 
            </div>
               
            <div class="col-sm-7 ps-4">
                     <div class="row">
                        @Model.Title
                    </div>
                    <div class="row">
                        @Model.CategoryId
                    </div>
                    <div class="row">
                        @Model.AuthorId
                    </div>
                    <div class="row">
                        @Model.Publisher
                    </div>
                    <div class="row">
                        @Model.PublishedYear
                    </div> 
                    <div class="row">
                        @Model.Description
                    </div>
            </div>
        </div>
	</div>
	
</body>
</html>